# AIOpsKit .gitignore file
# This file specifies intentionally untracked files to ignore in the repository.
traditional_ML/
genAI/
data/

*.env
*.venv

*python-version
__pycache__/
*.pyc
*.pyo
*.pyd
.PyCharm*
.idea/
*.egg-info/
dist/
build/
*.egg           
.DS_Store
*.log
*.sqlite3
*.db
*.ipynb_checkpoints
*.coverage
.coverage.*
*.mypy_cache/
.mypy_cache/
*.pytest_cache/
.pytest_cache/  